.background{
    --background: linear-gradient(180deg, rgba(0,0,0,1) 30%,rgba(109,251,165,1) 100%);
}
.room-name{
    align-items: center;
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    padding-bottom: 1vh;
    font-size: large;
}
.line{
    height:1px;
    background-color: rgba(255, 255, 255, 0.747);
    width: 60vw;
    border-radius: 1px;
    margin: auto;
}
.chat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 82%;  
    max-width: 82%;
    height: 6vh; 
    max-height: 6vh;
    margin: 1vh auto;
    padding: 2vh;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    resize:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    left:5%;
}

/* Optional: To hide the scrollbar */
.chat-box::-webkit-scrollbar {
    display: none;
}

.chat-box:focus {
    outline: none;
}

.send-button{
    position: fixed;
    bottom: 1vh;
    right: 0;
    margin: 1vh;
    padding: 1vh;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    cursor: pointer;
    width: 6vw;
    height: 4vh;
    right: 3%;
}