.search-bar{
    --border-radius:10px;
    --background: #A1CEB5;
    --color:black;
    width:80vw;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
}
.user{
    border-radius: 50%;
    height: 8vw;
    width: 8vw;
    object-fit: cover;
}
.user-ava-container {
    height: 8vw;
    width: 8vw;
}
.friend-container{
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(90deg, #02B389 30%, #9DC8B0 100%);
    border-radius: 10px;
    margin: 5% 5% 5% 5%;
    padding: 2vh;
    
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

