@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Reddit+Mono:wght@200..900&family=Yarndings+20&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
html {
    overflow: hidden;
}

.container {
    --background: linear-gradient(164deg, rgba(0,0,0,1) 18%,rgba(109,251,165,1) 100%);
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#slogan {
    position: absolute;
    font-weight: bolder;
    width: 400px;
    font-size: 50px;
    top: 30vh;
    left: 56vw;
    color: rgb(0, 139, 19)
}

.header{
    font-size: 3.5rem;
    background: -webkit-linear-gradient(-50deg,#08883A 40%, #65ffaa 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-family: "Lato", "Comic Sans";
    letter-spacing: -2px;
    text-align: center;

}

.form-container {
    z-index: 2;
    height: 75vh;
    text-align: center;
    margin: 8vh 10vw 0 10vw;
    max-width: 400px;
    padding-top: 7vh;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(11px); 
}

.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    padding: top 0;;
}


.input-field:placeholder-shown {
    margin-left: 0;
}

.input-field {
    all: unset;
    height: 40px;
    margin: 10px;
    margin-left: 0;
    background-color: #DCFAE9 ;
    border-radius: 10px;
    text-align: left;
    color: black;

}
a, a:active, a:visited, a:link {
    text-decoration: none;
    font-size: 15px;
    color: #005e24;
    transition: text-shadow ease-in-out 0.5s;
}
a:hover{
    color: rgb(0, 46, 10);
    text-shadow: #78ffb0 0 0 6px;
}
#spotify{
    display: flex;
    color:  black;
    background-color:  #46da7e;
    width:20vh;
    height:5vh;
    margin: auto;
    border-radius: 10px;
    font-weight: bold;
    border: 2px solid #030303;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;;
    margin-top: auto;
}
#spotify:hover{
    background: black;
    color:#46da7e;
}
#logo{
    font-size: 25px ;
    padding-left: 5px;
}

.login-form input[type="submit"]{
    all:unset;
    height:40px;
    width: 80px;
    margin: 30px auto; 
    font-family: "reddit mono", "Arial";
    background-color: #08883A;
    border-radius: 10px;
    transition: background-color ease-in-out 0.2s;
}
.login-form input[type="submit"]:hover{
    background-color: #075726;
}
.input-container{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color:#DCFAE9;
    border-radius: 10px;
    height: 50px;
    width: 80%;
    margin: 10px auto;
}

.icon-container {
    width: 5vw;
    max-width: 50px;
    min-width: 30px;
}

ion-icon {
    color: black;
    margin: auto
}

.circle {
    z-index: -1;
    position: absolute;
    height: 50vh;
    width: 50vh;
    min-width: 500px;
    min-height: 500px;
    border-radius: 50%;
    overflow: hidden;
}
.cir1 {
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(105 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23d1ff79%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%232AF598%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M831.5 669.5q7.5 169.5-162 172T387 785q-113-59-240.5-172T123 363.5Q227 227 363.5 143t298-25q161.5 59 162 220.5t8 331Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M831.5 669.5q7.5 169.5-162 172T387 785q-113-59-240.5-172T123 363.5Q227 227 363.5 143t298-25q161.5 59 162 220.5t8 331Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    transform: translate(60vw, 15vh) rotate(120deg);
}

.cir3 {
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(255 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%2308AEEA%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%232AF598%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M802 659.5q17 159.5-142.5 225t-304-15Q211 789 141 644.5T178.5 393Q286 286 393 183t265.5-51.5Q817 183 801 341.5t1 318Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M802 659.5q17 159.5-142.5 225t-304-15Q211 789 141 644.5T178.5 393Q286 286 393 183t265.5-51.5Q817 183 801 341.5t1 318Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    
    transform: translate(-30vh, -15vh);
}
  
#changeState{
    text-align: center;
    margin: 40px;
    padding-top: 30px;
    border-top: solid #84f0b363;
    font-size: 0.8rem;    
}

@media screen and (max-width: 1000px) {
    #slogan {
        display: none
    }

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    color: var(--color);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}