.room{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    width: 80vw;
    background-color: rgba(253, 253, 253, 0.226);
    color: white;
    margin-top: 2vh;
    border-radius: 15px;
    margin: auto;
}
.room-name{
    font-size: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    display: block;
    justify-content: center;
    display: flex;
    align-items: center;
} 
.room-icon{
    color: white;
    margin-right:8px;
}
.room-name{
    font-size:1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    height: 2vh;
}
span.room-name{
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: auto;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    color: white;
    height: 2vh;
    
}
.search-icon{
    color: white;
    height: 3vh;
    width:3vw;
    right: 0px;
    margin-right: 4%;
    
}
.list-icon{
    color:white;
    height: 3vh;
    width:3vw;
}

.background{
    --background: linear-gradient(164deg, rgba(0,0,0,1) 18%,rgba(109,251,165,1) 100%);
   }
.header-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
    margin-left: -35%;
}

.album-cover{
    border-radius: 10%;
    margin-left: 10px;
    display: flex;
    width: 80vw;
    height: 80vh;
    object-fit: cover;
}
.chatbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.384);
    color: white;
    margin-top: 2vh;
    border-radius: 10px;
    width: 90vw;
    height: 20vh;
}
.back-icon, .play-icon, .skip-icon{
    color: white;
    padding: 5px;
    font-size: 25px;
    height: 5vh;
    margin: auto;
    padding-left: 8vw;
    padding-right: 8vw;

}
.cover-artist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    padding-top:5vh;
}

.playing-icons {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.send-button{
    background-color: rgba(56, 99, 63, 0.11);
    height: 3vh;
    width: 15vw;
    border-radius: 10px;
}
.text-box{
    background-color: rgba(70, 70, 70, 0.384);
    height: 3vh;
    width: 60vw;
    border-radius: 5px;
    margin-left: 2vw;
    color: white;
    margin-top: 2vh;
    margin-bottom: 1vh;
}
.send-button:hover{
    background-color: rgba(11, 92, 25, 0.568);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.room-button{
    border-radius: 10px;
    padding: 0 2vw;
    margin: 0 8vw;
    transition: ease-in-out 0.5s;
}
.room-button:hover{
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
}
.chatbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.slider{
    margin-bottom: 1vh;
}
.chatbox{
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(46, 51, 47, 0.527);
    color: white;
    margin-top: 2vh;
    border-radius: 10px;
    width: 90vw;
    height: 20vh;
    overflow-y: auto;
    max-height: fit-content;
}
.fullscreen {
    justify-content: center;
    position: fixed;
    top: 2vh;
    bottom: 2vh;
    width: 90%;
    height: 90%;
    z-index: 1000;
    background-color:rgba(46, 51, 47, 0.568);
    margin: auto;
    border-radius: 10px;
    backdrop-filter: blur(20px); 
}
.chat-message-username{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 5px;
    font-weight: 600;
}
.chat-message-content{
    display: flex;
    flex-direction: row;
    align-items: auto;
    justify-content: top;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.chat-message{
    display: flex;
    flex-direction: row;
    color: white;
    vertical-align: top;
    max-height: fit-content;
}
.chat-message.self{
    display: flex;
    flex-direction: row;
    color: white;
    vertical-align: top;
    height:4vh;
}