.friend-ava {
    width: 10vh;
    height:10vh;
    border-radius: 10%;
    margin-left: 10px;
    display: flex;
}
.friend-name{
    font-size: 15px;
    align-items: center;
    color: black;
}
.friend{
    display: flex;
    flex-direction: row;
    margin: 1vh;
    color: black;
    background: rgba(255, 255, 255, 0.171);
    box-shadow: 5px 5px 20px  rgba(0, 0, 0, 0.39);
    border-radius: 10px;
    width: 85%;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.friend-content{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    color: black;
    align-items: center;
}
.friend-playing{
    display: flex;
    flex-direction: column;
    margin: 1vh;
    color: black;
    border-radius: 10px;
    width: 85%;
    align-items: right;
    justify-content: space-between;
    padding: 10px;
    
}

.song-friend{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    margin:5px;
    
}
.artist{
    font-size: 10px;

}

.slider-friend{
    -webkit-appearance: none;  /* Override default CSS styles */
    border-radius:15px;
    width: 100%; /* Full-width */
    height: 5px; /* Specified height */
    background: rgb(255, 255, 255) ;
    outline: none; /* Remove outline */
    opacity: 0.9; /* Set transparency (for mouse-over effects on hover) */    
}
.slider-friend::-webkit-slider-thumb {
    opacity: 0;
}
.slider-friend::-webkit-slider-thumb:hover {
    opacity: 1;
    transform: translateX(-0.25px);
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
    border: 1px solid white;

}
  
.slider-friend::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
.time-friend{
    font-size: 10px;
    color:white;
    padding: 5px;

}
.progress-slider{
    display: flex;
    flex-direction: row;
    width:80vw;
    align-items: center;
    padding: 5px;
    margin-left: 2vw;
    align-items: center;
}
.join-button{
    margin-right: 0px;
    width: 9vw;
    height: 4vh;
    border-radius: 15px;
    background-color: #04AA6D;
    margin-left:45vw;
    font-weight: bold;
}

